{% extends 'layaut.html.twig' %}

{% block titleContent %}
    Profile
    <small>Control panel</small>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <li class="active"> Profile</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            {{ form_start(form,{attr:{novalidate:"novalidate"}}) }}
            <div class="well box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Ajouter un nouveau produit</h3>
                </div>
                <!-- /.box-header -->

                <div class="form-group">
                    {{ form_errors(form.username) }}
                    {{ form_label(form.username, "Pseudo") }}
                    {{ form_widget(form.username, {attr: {placeholder: "Votre pseudo", class: "form-control"} } ) }}
                </div>

                <div class="form-group">
                    {{ form_errors(form.password) }}
                    {{ form_label(form.password, "password") }}
                    {{ form_widget(form.password, {attr: {placeholder: "Votre password", class: "form-control"} } ) }}
                </div>

                <div class="form-group">
                    {{ form_errors(form.email) }}
                    {{ form_label(form.email, "Email") }}
                    {{ form_widget(form.email, {attr: {placeholder: "Votre Email", class: "form-control"} } ) }}
                </div>

                <div class="form-group">
                    {{ form_errors(form.birthday) }}
                    {{ form_label(form.birthday, "Birthday") }}
                    {{ form_widget(form.birthday, {attr: {placeholder: "Votre Birthday", class: "form-control"} } ) }}
                </div>



                <div class="form-group">
                    {{ form_errors(form.avatar) }}
                    {{ form_label(form.avatar, "Avatar") }}
                    {{ form_widget(form.avatar, {attr: { class: "form-control"} } ) }}
                </div>

            </div><!-- box box-primary  -->

            <button class="btn btn-primary">Créer</button>
            {{ form_end(form) }}
        </div><!-- col-md-12 -->
    </div><!-- row -->



{% endblock %}