{% extends 'base.html.twig' %}

  {% block stylesheet %}
      {{ parent() }}

      <link rel="stylesheet" href="{{ asset('Public/css/shop-homepage.css') }}">
      <link rel="stylesheet" href="{{ asset('Public/css/shop-item.css') }}">
      <link rel="stylesheet" href="{{ asset('Public/css/heroic-features.css') }}">
      <link rel="stylesheet" href="{{ asset('css/rating.css') }}">

  {% endblock %}

{% block title %}
    Mon site
{% endblock %}

{% block  body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h3>Bonjour: {{ app.user.username }}</h3>
    {% endif %}


    {% if is_granted('ROLE_ADMIN') %}
        <h3>vous etes un admin</h3>
    {% endif %}



    {% include ':Public/Partials:main-navigation.html.twig' %}
    <div class="container">
        <div class="row">
            {% block content %}

            {% endblock %}
        </div>

    </div>
    <!-- /.container -->

    {% include ':Public/Partials:main-footer.html.twig' %}

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
    var $btncookies= $('.cookies');

    $btncookies.on('click',clicBtnCookie);

    function clicBtnCookie($e) {
        $e.preventDefault();
        $btncookies.fadeOut();
        $.ajax({
            methd:'POST',
            url:'http://localhost/FormationW3aSymfony/web/app_dev.php/en/disclaimer-cookies',// url vers la route
            data: 'disclaimer=1',//veut dire disclaimer =true cette information sera récuprer par la route avec $request->get('disclaimer')
            dataType: 'json',
            success: onSuccess// la methode appeler
        })
    }

    function onSuccess(data) {

        //console.log(data);

    }

</script>

{% endblock %}




