{% extends 'public.layout.html.twig' %}

{% block content %}

    {#{{ dump(app.session.get('panier')) }}#}
    {% set panier=app.session.get('panier') %}
    {% set TOTAL=0 %}
    {% set count=0 %}
    <h2>Votre panier</h2>


   {# {% for k, v in panier %}
        {% set count=count+k %}
    {% endfor %}
#}


    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-warning">
            {{ flash_message }}
        </div>
    {% endfor %}

    <form action="{{ path('app.panier.update') }}" method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>Titre</th>
                <th>Déscription</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Prix total</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>
                        {{ produit.id }}
                        <input type="hidden" name="id[]" value="{{ produit.id }}">
                    </td>
                    <td>{{ produit.titleFR }}</td>
                    <td>{{ produit.descriptionFR }}</td>
                    <td>{{ produit.price | localizedcurrency('EUR') }}</td>
                    <td>
                        <select name="qty[]" id="" onchange="this.form.submit()">
                            {% for i in 1..10 %}
                                {% set selected = '' %}
                                {% if i == panier[produit.id] %}
                                    {% set selected = 'selected' %}
                                {% endif %}
                                <option value="{{ i }}" {{ selected }}>{{ i }}</option>
                            {% endfor %}
                        </select>

                    </td>
                    <td>{{ produit.price * panier[produit.id] }}</td>
                    <td><a href="{{ path('app.panier.delete',{'id':produit.id}) }}"
                           class="btn-sm btn-danger">Supprimer</a></td>
                    {% set TOTAL=TOTAL + produit.price * panier[produit.id] %}
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5"></td>
                <td colspan="1"
                    style="background-color: #67a8f6; font-weight: bold">{{ TOTAL | localizedcurrency('EUR') }}</td>
            </tr>
            </tbody>
        </table>
    </form>

{% endblock %}

