{% extends '::layaut.html.twig' %}

{% block stylesheet %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}


{% block titleContent %}
    Produits
    <small>Control panel</small>
    <a href="{{ path('produitcree') }}" class="btn btn-adn">New produit</a>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Produits</li>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-xs-12">
                {# Affichage du message de success	#}
                {% for flash_message in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% include ':Partials:Search.html.twig' %}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Hover Data Table</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr class="well">
                                <th>Id</th>
                                <th>TitleFR</th>
                                <th>TitleEN</th>
                                {#<th>Description(s)</th>#}
                                <th>Marque</th>
                                <th>Categorie</th>
                                {#<th>Prix</th>
                                <th>Quantité</th>#}
                                <th>Date creat</th>
                                <th>Date Modif</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{ product.id }}</td>
                                    <td>{{ product.titleFR }}</td>
                                    <td>{{ product.titleEN }}</td>
                                    {#<td>{{ product.description }}</td>#}
                                    <td>{{ product.marque.titre }}</td>
                                    <td>
                                        <ul>
                                            {% for categorie in product.categories %}
                                               <li class="glyphicon glyphicon-pushpin"> {{ categorie.title }}</li><br>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                 {#   <td>{{ product.price }}</td>
                                    <td>{{ product.quantity }}</td>#}
                                    <td>{{ product.datecreation|date("m - d - Y") }}</td>
                                    <td>{{ product.datemodification|date("m - d - Y") }}</td>

                                    <td>
                                        <a href="{{ path('produitpage',{'id':product.id}) }}"
                                           class="btn btn-primary">Voir</a>
                                        <a href="{{ path('produitedit',{'id':product.id}) }}"
                                           class="btn btn-warning">Editer</a>
                                        <a href="{{ path('produitsupp',{'id':product.id}) }}"
                                           class="btn btn-danger">Supprimer</a>
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                {#<th>Description(s)</th>#}
                                <th>Marque</th>
                                <th>Categorie</th>
                               {# <th>Prix</th>
                                <th>Quantité</th>#}
                                <th>Date creat</th>
                                <th>Date Modif</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div><!--box-body-->
                </div><!-- box-->
            </div><!--col-xl-12 -->
        </div><!--row -->
    {% include ':Partials:pagination.html.twig' %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
{% endblock %}
