{% extends '::layaut.html.twig' %}

{% block stylesheet %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}


{% block titleContent %}
    All Products
    <small>Control panel</small>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <li class="active">All Products</li>
{% endblock %}

{% block content %}
    {% include ':Partials:Search.html.twig' %}
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description(s)</th>
                <th>Date</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% set total=0 %}
            {% set prixmin=-1 %}

            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.date_created|date("m/d/Y") }}</td>
                    <td>{{ product.prix }}</td>

                    <td>
                        <a href="{{ path('produitpage',{'id':product.id}) }}" class="btn btn-primary">Voir</a>
                        <button class="btn btn-success">Editer</button>
                        <button class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>


                 {% if prixmin > product.prix or prixmin == -1 %}

                      {% set prixmin = product.prix %}
                 {% endif %}

                {% set total= total+ product.prix / products|length %}
            {% endfor %}

            <td colspan="4">Le prix  moins cher est : {{ prixmin }} €</td>
            <td style="background-color:#bdbdbd;font-weight: bold">{{ total }} </td>
            </tbody>
            <tfoot>
            <tr>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
            </tr>
            </tfoot>
        </table>
    </div>

    {% include ':Partials:pagination.html.twig' %}

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
{% endblock %}
