{% extends '::layaut.html.twig' %}

{% block titleContent %}
    Title  Product
    <small>Control panel</small>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <li><a href="{{ path('produitspage') }}"> Produits</a></li>
    <li class="active"> {{ product.title }}</li>
{% endblock %}



{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Hover Data Table</h3>
                </div>
                <!-- /.box-header -->

                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Description(s)</th>
                            <th>Price</th>
                            <th>Quantité</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.title }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>
                                <a href="{{ path('produitedit',{'id':product.id}) }}" class="btn btn-warning">Editer</a>
                                <button class="btn btn-danger">Supprimer</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- box-->
        </div><!--col-xl-12 -->
    </div><!--row -->
{% endblock %}




