{% extends '::layaut.html.twig' %}

{% block titleContent %}
    Title  Product
    <small>Control panel</small>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <li><a href="{{ path('produitspage') }}"> All products</a></li>
    <li class="active"> Title Product</li>
{% endblock %}



{% block content %}


    {% include ':Partials:Search.html.twig' %}
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description(s)</th>
                <th>Price</th>
                <th>Quantité</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price}}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        <a href="{{ path('produitedit',{'id':product.id}) }}" class="btn btn-primary">Editer</a>
                        <button class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}




