{% extends '::layaut.html.twig' %}

{% block stylesheet %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}


{% block titleContent %}
     {{ categories|length }} Catégorie(s)
    <small>Control panel</small>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <li class="active">All Category</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        {% include ':Partials:Search.html.twig' %}
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Hover Data Table</h3>
            </div>
            <!-- /.box-header -->
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description(s)</th>
                <th>Nb Caract </th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for categorie in categories %}

                <tr>
                    <td>{{ categorie.id }}</td>
                    <td>{{ categorie.title }}</td>
                    <td>{{ categorie.description|raw|nl2br}}</td>
                    <td>{{ categorie.description|striptags|length}}</td>
                    <td>{{ categorie.date_created|date("m/d/Y") }}</td>
                    <td>{% if categorie.active %} {{ 'active' }}{% else %} {{ 'non active' }}{% endif %}</td>

                    <td>
                        <a href="{{ path('categoriepage',{'id':categorie.id}) }}" class="btn btn-primary">Voir</a>
                        <button class="btn btn-success">Edit</button>
                        <button class="btn btn-danger">Supp</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description(s)</th>
                <th>Nb Caract </th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>
            </div><!-- box -->
        </div><!-- col-xs-12 -->
    </div><!-- row -->

    {% include ':Partials:pagination.html.twig' %}

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
{% endblock %}



