{% extends 'layaut.html.twig' %}

{% block titleContent %}
    Création d'une nouvelle catégorie
    <small>Control panel</small>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <li class="active"> Creation d'une Catégorie</li>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            {{ form_start(formcategorie,{attr:{novalidate:"novalidate"}}) }}
            <div class="well box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Ajouter une nouvelle catégorie</h3>
                </div>
                <!-- /.box-header -->

                <div class="form-group">
                    {{ form_errors(formcategorie.title) }}
                    {{ form_label(formcategorie.title, "Titre") }}
                    {{ form_widget(formcategorie.title, {attr: {placeholder: "Titre de la categorie", class: "form-control"} } ) }}
                </div>

                <div class="form-group">
                    {{ form_errors(formcategorie.description) }}
                    {{ form_label(formcategorie.description, "Déscription") }}
                    {{ form_widget(formcategorie.description, {attr: {placeholder: "Déscription de la catégorie", class: "form-control"} } ) }}
                </div>

                <div class="form-group">
                    {{ form_errors(formcategorie.position) }}
                    {{ form_label(formcategorie.position, "Position") }}
                    {{ form_widget(formcategorie.position, {attr: { class: "form-control"} } ) }}
                </div>

            </div><!-- well box box-primary" -->
            <button class="btn btn-primary">Créer</button>

            {{ form_end(formcategorie) }}
        </div><!-- col-md-12 -->
    </div><!-- row -->

{% endblock %}